{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "12"
        },
        "bugfixes": true,
        "useBuiltIns": false,
        "shippedProposals": false
      }
    ]
  ]
}
